body {
    display: flex;
    justify-content: center;
}

.content {
    background-color: rgb(250, 227, 152);
    height: 100vh;
    width: 600px;
    padding: 50px;
}

.gridContainer {
    display: flex;
    flex-flow: column;
    width: auto;
    aspect-ratio: 1 / 1;
    border:2px solid black;
    border-radius: 3px;
}

.pixelLine {
    display: flex;
    flex: 1;
}

.pixel {
    flex: 1;
    background-color: white;
    border: 1px solid black;
    margin: -1px;
}