body {
    display: flex;
    justify-content: center;
    background-color: rgb(238, 238, 238);
    margin: 0;
}

.content {
    background-color: white;
    height: 100vh;
    width: 600px;
    padding: 50px 100px;
}

.gridContainer {
    display: flex;
    flex-flow: column;
    width: auto;
    aspect-ratio: 1 / 1;
    border:2px solid black;
    border-radius: 3px;
    box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.288); 
    margin: 30px 0px;
}

.pixelLine {
    display: flex;
    flex: 1;
}

.pixel {
    flex: 1;
    background-color: white;
    border: 1px solid black;
    margin: -1px;
}

.hover {
    background-color: black;
}

button {
    height: 30px;
}
 
.newGridButton {
    margin: 0px 0;
    text-align: center;
}

.title {
    margin: 0px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toolsContainer {
    display: flex;
    justify-content: space-between;
}